@tailwind base;
@tailwind components;
@tailwind utilities;

/* Simple reset for the page background */
:root {
  color-scheme: light;
}

html, body {
  height: 100%;
}

body {
  @apply bg-brandYellow;
}
